<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.4" name="CentOS-Remix" displayname="CentOS 9 Remix">
	<description type="system">
		<author>Massimiliano Bugni</author>
		<contact>massi.ergosum@gmail.com</contact>
		<specification>CentOS Remix</specification>
	</description>
	<preferences>
		<release-version>9</release-version>
		<version>9.0.0</version>
		<packagemanager>dnf</packagemanager>
		<rpm-check-signatures>true</rpm-check-signatures>
		<locale>en_US</locale>
		<keytable>us</keytable>
		<timezone>UTC</timezone>
	</preferences>
	<include from="this://./repositories/centos.xml"/>
	<include from="this://./repositories/epel.xml"/>
	<include from="this://./repositories/rpmfusion.xml"/>
	<include from="this://./components/boot.xml"/>
	<include from="this://./components/common.xml"/>
	<include from="this://./components/livesystem.xml"/>
	<include from="this://./components/localization.xml"/>
	<include from="this://./platforms/minimal.xml"/>
	<include from="this://./platforms/desktop.xml"/>
	<include from="this://./platforms/workstation.xml"/>
	<packages type="bootstrap">
		<package name="basesystem"/>
		<package name="filesystem"/>
	</packages>
</image>